<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/dashboard.css" rel="stylesheet" />
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    
    <main>
        <div class="messages-container">
            <table id="messages-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>LGA</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="messages-table-body">
                    <!-- Messages will be displayed here -->
                </tbody>
            </table>
        </div>
    </main>

    <script src="../scripts/messages.js" ></script>
   
</body>
</html>
